<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title The Shoppies: Movie Awards for Entrepreneurs
    body
        main
            h1 The Shoppies
            h2 Movie Awards for Entrepreneurs
            p#instruction Type in the search input below, the title of your favourite movie and add it to your nomination list. You are allowed to select up to 5 movies as nominees.
            #user-input
                label(for="search") Movie Title: 
                input#search(type="search", placeholder="e.g. The Set Out of the Shopify Intern")
            #results-nominations
                #results.hide
                    h3 Results for "
                        b 
                        | "
                #nominations
                    h3 Nominations
                    p You've not nominated any movie? You definitely haven't seen The Internship.
        script(src="script.js")