<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="apple-touch-icon", sizes="180x180", href="apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-16x16.png")
        link(rel="manifest", href="site.webmanifest")
        title The Shoppies: Movie Awards for Entrepreneurs
    body
        main
            h1 The Shoppies
            h2 Movie Awards for Entrepreneurs
            p#instruction Type in the search input below, the title of your favourite movie and add it to your nomination list. You are allowed to select up to 5 movies as nominees.
            #user-input
                label(for="search") Movie Title: 
                input#search(type="search", placeholder="e.g. The Set Out of the Shopify Intern")
            #results-nominations
                #results.hide
                    h3 Results for "
                        b 
                        | "
                #nominations
                    h3 Nominations
                    p You've not nominated any movie? You definitely haven't seen The Internship.
            p#banner.hide You have already selected up to 5 nominees.
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js", integrity="sha512-0bCDSnaX8FOD9Mq8WbHcDwshXwCB5V4EP+UBu87WQgga2b7lAsuEbaSmIZjH/XEmNhJuhrPbFHemre5HZwrk9w==", crossorigin="anonymous")
        script(src="script.js")